extends main

block slide
    - var _slides = sights
    #slide.carousel.slide(data-ride='carousel')
        .carousel-inner
            each it,i in _slides
                .item(class= i == 0 ? 'active' : '' )
                    != f.imgItem(it, c.code)
                    .container.text-center.abs
                        h4 Beijing in For Seasons
                        .dropdown.btn.btn-default
                            a(data-toggle="dropdown",role='button')
                                | Winter
                                span.caret
                            ul.dropdown-menu
                                li Spring
                                li Summer
                                li Fall
                                li Winter
                    .carousel-caption
                        h3= it.title
                        p= it.slogan
        include ../../../../views/inc/slideBtn

block content

    .panel
        h2 Introducing #{city.title}
        .content= city.description
            a
                more
    .pBox.col-md-6
        .cat Top Choices
        .title A collection of most-see orders in Beijing

    .pBox.col-md-3
        .cat Top Choices
        .title A collection of most-see orders in Beijing


    .pBox.col-md-3
        .cat Top Choices
        .title A collection of most-see orders in Beijing


    .pBox.col-md-3
        .cat Top Choices
        .title A collection of most-see orders in Beijing


    .pBox.col-md-3
        .cat Top Choices
        .title A collection of most-see orders in Beijing



    .panel.pBox.col-md-3
        h3 Cars & Guides
        ul
            li
                a() Cars
            li
                a() Guides
    .panel.pBox.col-md-3
        h3 Maps
        ul
            li
                a City Map
            li
                a Attractions
            li
                a Subway
            li
                a Shattle Bus
    .panel.pBox.col-md-3
        h3 Tours
        ul
            li
                a Tiananmen Gate
            li
                a Siheyuan Gate
