extends inc/main

block content
    .panel
        h2 Introducing #{city.title}
        p= city.description

    - var _items = sightList;
    - var _entity = 'sight';
    include inc/items

block st
    :coffee
        $('.headMenu').find("a[href*='Tmple']").parent().addClass 'active'