extends inc/main

block content

    -var _slides = head.list
    include inc/slide

    .panel
        .panel-heading
            h2 Introducing #{city.title}
        .panel-body
            p= city.description

    - var _items = topList;
    include inc/items