doctype html
html
    head
        include inc/meta
    body
        .headerWrapper
            #header.navbar.navbar-inverse.navbar-fixed-top
                .navbar-header
                    h1#logo
                        a.navbar-brand(href="#")
        .container-fluid
            #content
        .footerWrapper
            #footer

    include inc/sub