@import "../../../../res/js/bootstrap/less/bootstrap.less";
@import "../../../../lib/style/lib.less";
@import "../../../../lib/style/widget.less";

@container-lg: 1100px;
@body-bg: #EDF1F4;
@headings-color: #0C4F9D;
@link-color: #111;
@link-hover-decoration: none;
//@grid-gutter-width:10px;
@white: #fff;
@header-bg: #0a4f9c;

.headerWrapper {
  width: 100%;
  background: @header-bg;
  header {
    //头部
    h1 {
      text-indent: -9999px;
      position: relative;
      height: 60px;
    }
    h1 img {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
    }
    &:after {
      content: '';
      display: block;
      height: 0;
      overflow: hidden;
      clear: both;
    }
  }
}

.carousel {
  // 幻灯片
  width: 100%;
  //min-height: 600px;#user js to set
  .item {
    position: relative;
    //height: 600px;
    .rel {
      height: 0;
      margin-bottom: -10px;
      h4 {
        letter-spacing: 1px;
        color: @white;
      }
      .dropdown {
      }
    }
    .carousel-caption {
      position: absolute;
      z-index: 2;
      right: 10%;
      bottom: 10px;
      text-align: left;
      padding: 0;
      h3 {
        color: @white;
      }
      p {
        color: @white;
      }
      .btn {
        position: absolute;
        right: 0;
        bottom: 15px;
      }
    }

    .carousel-indicators {
      li {
        margin-right: 10px;
        background: #fff;
      }
    }
    h3 {

    }
    p {

    }
  }
}

.carousel-indicators {
  bottom: 35px;
  li {
    background: #fff;
  }
  .active {
    background: #288ad6;
  }
}

.topLine {
  background: #fff;
  height: 70px;
  margin-bottom: 10px;
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
    font-weight: normal;
  }
  .headMenu {
    text-align: right;
    margin-top: 22px;
    font-size: 18px;
    li {
      a {
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        &:hover, &.current {
          background-color: #32cd32;
          color: white;
        }
      }
    }
  }
}

nav {
  //左边导航
  margin-bottom: 10px;
  .menus {
    padding: 0;
    background: #fff;
    li {
      display: block;
      border-bottom: 1px solid #e6edf5;
      &:hover {
        background-color: #f2f6fa;
      }
      &.top {
        font-size: 22px;
        line-height: 70px;
        border-bottom: 8px solid @body-bg;
        i {
          display: none;
        }
      }
      a {
        line-height: 45px;
        padding-right: 10px;
        padding-left: 10px;
        i {
          float: right;
          margin: 17px 10px;
          color: #ddd;
          font-size: 10px;
        }
      }
      &.subItem {
        ul {
          overflow-y: hidden;
          max-height: 0;
          .transition(all 0.5s ease);
          .transition-delay(0.5s);
        }
        span {
          margin: -25px 15px 0;
        }
        &:hover {
          span {
            display: none;
          }
          ul {
            max-height: 600px;
          }
        }
      }
    }
  }
}

.subMenu {
  //右上方二级导航
  ul {
    li {

    }
  }
}

.panel {
  //所有的白底区块
  padding: 15px;
  margin-bottom: 10px;
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;

  }
  h4 {

  }

  img {

  }

  p {
    font-size: 16px;
    line-height: 28px;
  }
  p.small {

  }
  ul {
    padding: 20px 0 0 20px;
    li {
      line-height: 30px;
      font-size: 14px;
      list-style-type: disc;
    }
  }

  .tab {
    //5个标签标签
  }

  form {
    //表单
    button {

    }
  }
}

.pBoxList {
  .clearfix();
  .row {
    margin-left: -5px;
    margin-right: -5px;
    .col-md-3, .col-md-6 {
      padding-left: 5px;
      padding-right: 5px
    }
  }
  .more {
    margin-top: 15px;
    cursor: pointer;
    display: block;
    background: #ddd;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: #fff;
    //&:hover {
    //  background-color: @deepBlue;
    //  color: white;
    //}
  }
}

.pBox {
  //图片块
  border: 1px solid #e6e6e6;
  height: 420px;
  overflow: hidden;
  margin-bottom: 10px;
  .markImg {
    height: 320px;
  }

  h4 {
    padding-left: 10px;
    font-size: 12px;
  }
  p {
    padding-left: 10px;
    font-size: 16px;
  }
}

.pBox.top {
  //首页图片块
}

.azBox {
  //A-Z查询
}

.footerWrapper {
  margin-top: 15px;
  min-height: 180px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  #footer {
    ul {
      text-align: left;
      margin: 55px 30px 20px 0;
      float: left;
      width: 120px;
      h3 {
        color: #3b444f;
        font-size: 14px;
        margin: -32px 0 15px 0;
      }
      li {
        line-height: 28px;
        float: left;
        width: 100%;
        a {
          color: #111;
          font-size: 0.9em;
          &.hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.bottomWrapper {
  background: #fff;
  p, ul {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  li {
    margin-left: 15px;
  }
  a {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}

a.panel-heading {
  display: block;
}

.topHead {
  small {
    background-color: @gray;
    border-radius: 10px;
    color: white;
  }
}

.slide {
  .dropdown {
    background-color: @gray;
    border: 0;
    a {
      color: white;
    }
  }
}

#asl {
  background-color: @gray;
  .row {
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      color: white;
    }
  }
  margin-bottom: 10px;
}