.panel
    h3 Recommended Pages

- var _items = recommeded;
- var _entity = 'sight';
- var _tours = true;
include items

//each it in _recommeded
//    .pBox.col-md-3
//        .cat= it.slogan
//        .title= it.title
//
//include tours