<button type="button" class="navbar-toggle collapsed {{cls}}" data-toggle="collapse" data-target="{{target}}">
    {{#if icon}}
        {{icon icon 'i'}}
    {{else}}
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    {{/if}}
</button>