<div class="modal-dialog">
    <div class="modal-content {{ctxClass}}">
        {{#if head}}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        {{/if}}
        <div class="modal-body">
            {{{tags}}}
        </div>
        {{#unless noFoot}}
            <div class="modal-footer">
            </div>
        {{/unless}}
    </div>
</div>
